.project
*.prefs
*.classpath
*.factorypath
/target/
*/target
backend/group/auth/target/
backend/group/biz/target/
backend/group/gateway/target/
backend/group/schedule/target/
backend/group/shared-component/target/classes/
backend/group/shared-component/target/
*.gz
*.log
*.pydevproject
backend/group/schedule/docker/google-api-cloud-speech-to-text.json
*.rej
backend/group/biz/src/main/resources/init/ShareholderStructureInfo (2).zip
backend/group/biz/src/main/resources/local/google-services.json
